.FormContainer{
  width: 90vw;
  height: 60vh;
  /* background-color: aqua; */
display: flex;
justify-content: center;



}


.FormContainer .InputBox{
  display: flex;

margin: 1vw;
justify-content: space-between;
gap: 1.5vw;

  }

  .FormContainer .InputBox input{
background-color: #0f1721;

font-size: 13px;
border-radius: 3px;
padding:4px;
color: azure;
width: 24vw;
height: 6vh;
  }
  .FormContainer .InputBox input::placeholder{
color:rgb(177, 176, 176);
  }

  .FormContainer .SendText textarea{
background-color: #1a1e2c;
color: azure;
width: 49.5vw;
font-size: 14px;
border-radius: 3px;
padding:10px;
resize: none;
margin-left:1vw;
  }
  .FormContainer .SendText textarea::placeholder{

color: rgb(177, 176, 176);

  }
 
  
  .FormContainer .btn{
margin-left: 19.5vw;
margin-top: 1.5vw;
    font-size: 1.5vw;
    
    }

  .FormContainer .btn .icon{
    color: black;
    background-color: #517ccc;
    font-size: .5 rem;
    width: 12vw;
    height: 3vw;
    padding-top: .9vw;
    transition: all ease-in 0.2s;
    }
    
    .FormContainer .btn .icon:hover{
    color: black;
    background-color: #cbcb50;
    
    }
    